// /*==========  Desktop First  ==========*/

// /* Large Devices, Wide Screens */
// @media only screen and (max-width : 1440px)

// @media only screen and (max-width : 1200px)
// 	/**/
// /* Small Devices, Tablets */
// @media only screen and (max-width : 768px)

// @media only screen and (max-width : 560px)

// /* Extra Small Devices, Phones */
// @media only screen and (max-width : 480px)

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px)
	.header

		&__logo
			margin-bottom: 20px

		&__menu
			flex-direction: column
			min-width: 500px
			margin: 0 auto 71px auto

	.nav

		&__links
			margin-right: 10px

	.language
		margin-right: 30px

	.show__menu-btn

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px)
	.header

		&__logo
			margin-bottom: 20px

		&__menu
			flex-direction: column
			min-width: 600px
			margin: 0 auto 71px auto

	.nav

	.language
		margin-right: 30px

	.show__menu-btn

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px)
	.header

		&__logo
			margin-bottom: 20px
