// /*==========  Desktop First  ==========*/

// /* Large Devices, Wide Screens */
// @media only screen and (max-width : 1440px)

// @media only screen and (max-width : 1200px)
// 	/**/
// /* Small Devices, Tablets */
// @media only screen and (max-width : 768px)

// @media only screen and (max-width : 560px)

// /* Extra Small Devices, Phones */
// @media only screen and (max-width : 480px)

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px)
	.container
		width: 90%
	.header

		&__logo
			margin-bottom: 20px

		&__menu
			flex-direction: column
			max-width: 375px
			margin: 0 auto 71px auto

	.nav

		&__links
			margin-right: 10px
			font-size: 12px

	.language
		margin-right: 30px

	.header__slider-item:after, .header__slider-item:before
		display: none
	// grid
	.grid
		display: flex
		flex-wrap: wrap
		&__title
		
		&__item
			margin-bottom: 50px
		&__img
			
	//spendTime 
	.spendTime
		background-attachment: scroll
		margin-bottom: 50px
	// Last
	.last
		&__title
			font-size: 25px
			margin-left: 20px
		&__text-gray
			margin-bottom: 10px
		&__wrapper
			margin-bottom: 10px


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px)
	.header

		&__logo
			margin-bottom: 20px

		&__menu
			flex-direction: column
			max-width: 414px
			margin: 0 auto 71px auto

	.nav

	.language
		margin-right: 30px

	

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px)
	.header

		&__logo
			margin-bottom: 20px
