@import "fonts"
@import "libs"
@import "vars"
@import "base"

// Header
.header
    min-height: 100vh
    height: 100%
    width: 100%
    &__menu
        display: flex
        justify-content: space-between
        align-items: center
        flex-wrap: wrap

        margin: 0 0 71px 0
        padding-top: 40px
// Header Menu
.nav
    &__links
        text-transform: uppercase
        transition: all .2s ease
        &
            margin-right: 40px
        &:hover
            border-bottom: 1px solid #fff
            text-shadow: 0px 0px 10px #00DCFF80

.language
    margin-right: 80px
    color: #707070
    text-decoration: underline

// Header slider
.header__slider
    margin-bottom: 69px
    &-item
        position: relative
        width: 100%
        max-width: 688px
        margin: 0 auto
        &::before,
        &::after
            content: ''
            position: absolute
            width: 16px
            height: 40px
            cursor: pointer
        &::before
            background: url("../images/top-arrow.svg") center no-repeat
            top: 48px
            right: -32px
        &::after
            background: url("../images/bottom-arrow.svg") center no-repeat
            bottom: 48px
            right: -32px

.header__slider-img
    width: 100%
    max-width: 688px
    height: auto

// Menu BTN
.show__menu-link
    height: 16px
    width: 24px
    display: inline-block
    position: absolute
    top: -50%
    transform: translateY(-50%)

.show__menu-btn,
    &::before,
    &::after
        display: inline-block
        content: ''
        background-color: #ffffff
        position: absolute

.show__menu-btn
    display: inline-block
    height: 1px
    width: 16px
    position: relative
    background-color: #ffffff
    bottom: 5px
    right: 0px
    transform: rotate(180deg)
    z-index: 2
    &::before,
    &::after
        width: 24px
        height: 1px
    &::before
        transform: translateY(-6.5px)
    &::after
        transform: translateY(6.5px)

// weekend

.weekend
    margin: 0 auto 0 auto
    width: 100%
    max-width: 688px
    &__date
        font-size: 28px
        letter-spacing: 0.05em
        margin-bottom: 4px
        color: transparent
        text-shadow: 0px 0px 20px #00dcff
        -webkit-text-stroke: 1px #fff
    &__text
        text-transform: uppercase
        font-size: 19px
        letter-spacing: 0.1em
        color: #fcfcfc

.allEvents
    display: block
    text-transform: uppercase
    font-size: 17px
    letter-spacing: 0.1em
    left: 50%
    margin-top: 66px
    transform: translate(-50%)
    position: absolute
    cursor: pointer
    &::before
        content: ''
        position: absolute
        left: 50%
        top: -11px
        transform: translateX(-50%)
        width: 48px
        height: 1px
        background: rgba(255, 255, 255, 1)
        box-shadow: 0px 0px 10px #00dcff
// EVENTS RESIDENTS
.events
    padding-top: 197px
    &-inner
        text-align: center
    &__title
        font-size: 28px
        text-transform: uppercase
        margin-bottom: 80px

    &__text
        font-size: 19px
        color: #91919B
        width: 100%
        max-width: 528px
        letter-spacing: 0.03em  
        line-height: 30px
        text-align: center
        margin: 0 auto 112px 

// Grid
.grid-section
    margin-bottom: 130px
.grid
    display: grid
    width: 100%
    grid-gap: 80px
    grid-template-areas: "a a a a a a  b b b b b b" "c c c c d d d d e e e e" "f f f f f f g g g g g g" 
    &__item
        transition: all .2s ease
        &:hover
            box-shadow: 0px 50px 99px rgba(0, 220, 255, 0.1)
        &:nth-of-type(1) 
            grid-area: a
            height: 640px
        &:nth-of-type(2)
            grid-area: b
            align-self: end
            height: 368px
        &:nth-of-type(3)
            grid-area: c
            height: 264px
        &:nth-of-type(4)
            grid-area: d
            height: 264px
        &:nth-of-type(5)
            grid-area: e
            height: 264px
        &:nth-of-type(6)
            grid-area: f
            height: 399px
        &:nth-of-type(7)
            grid-area: g
            height: 600px
    &__link
        display: block
        height: 100%
        width: 100%
    &__img
        object-fit: cover
        height: 100%
        width: 100%
    &__title
        display: inline-block
        margin-top: 15px
        font-size: 16px
        color: $gray
        text-transform: uppercase
        padding-left: 20px

// More galleries

.moreGalleries
    display: block
    text-transform: uppercase
    font-size: 17px
    letter-spacing: 0.1em
    left: 50%
    bottom: 10px
    transform: translate(-50%)
    position: relative
    top: 130px
    cursor: pointer
    text-align: center
    &::before
        content: ''
        position: absolute
        left: 50%
        top: -11px
        transform: translateX(-50%)
        width: 48px
        height: 1px
        background: rgba(255, 255, 255, 1)
        box-shadow: 0px 0px 10px #00dcff

//spenTime

.spendTime
    height: 100vh
    width: 100%
    background: url(../images/terrace.jpg) no-repeat center
    background-size: cover
    background-attachment: fixed
    position: relative
    display: flex
    flex-direction: column
    justify-content: flex-end
    margin-bottom: 264px
    &::after
        content: ""
        display: block
        position: absolute
        top: 0
        left: 0
        right: 0
        height: 100%
        background: linear-gradient(360deg,rgba(0,0,0,.1),#030a12 100%)
    &__wrapper
        margin-bottom: 123px
        position: relative
        z-index: 1
        display: flex
        flex-direction: column
        align-items: flex-end
    &__title
        margin-bottom: 80px
        font-size: 28px
        letter-spacing: 0.1em
        text-transform: uppercase
        width: 528px
        
    &__text
        font-size: 19px
        letter-spacing: 0.03em
        line-height: 30px
        color: #91919b
        width: 528px
        
// last
.last
    &__wrapper
        display: flex
        justify-content: flex-end
        margin-bottom: 120px
        position: relative
    &__img
        position: relative
    &__title
        text-transform: uppercase
        font-size: 34px
        letter-spacing: 0.1em
        position: absolute
        bottom: 17%
        left: -5%
    &__text
        text-align: left
        max-width: 528px
        font-size: 19px
        letter-spacing: 0.03em
        line-height: 30px
        margin: 0 auto 80px auto
        &-gray
            color: $gray
            @extend .last__text
            margin: 0 auto 205px auto

   
.bookNow
    display: block
    text-decoration: underline
    text-transform: uppercase
    font-size: 34px
    letter-spacing: 0.1em
    text-shadow: 0px 0px 10px rgba(0, 220, 255, 0.5)
    margin: 31px 0 190px 0
    position: relative
    text-align: center

    

// Footer  
        
.footer
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 15px
    height: 97px

.heavenInfo
    display: flex
    letter-spacing: 0.1em
    color: #91919b
    .adress
        margin-right: 21px
.social
    margin-right: 30px
    color: #91919b

 
   


@import "media"